<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  "
>
  <div>{{ this.scale }}</div>
  <button (click)="onZoom1(0.1)">+</button>
  <button (click)="onZoom1(-0.1)">-</button>
  <button (click)="this.scale = 1; onZoom1(0)">reset</button>
  <div class="canvasContainer">
    <canvas
      #myCanvas
      width="500"
      height="500"
      (click)="draw($event)"
      style="border: 1px solid #000"
      (wheel)="onZoom($event)"
    ></canvas>
  </div>
</div>
